
                            <div class="widget events-widget">
                                <div class="widget-inner">
                                    <h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-calendar-full"></i>Sự kiện sắp tới</h3>
                                    <div class="widget-content">
                                        <ul class="event-list">

                                            <!-- EVENT : begin -->
                                            <li class="event m-has-date">
                                                <div class="event-inner">
                                                    <div class="event-date" title="June 3, 2016">
                                                        <span class="event-month">Jun</span>
                                                        <span class="event-day">3</span>
                                                    </div>
                                                    <h4 class="event-title"><a href="event-detail.html">Movie Premiere: Reflex Revenge (Action Drama)</a></h4>
                                                </div>
                                            </li>
                                            <!-- EVENT : end -->

                                            <!-- EVENT : begin -->
                                            <li class="event m-has-date">
                                                <div class="event-inner">
                                                    <div class="event-date" title="June 24, 2016">
                                                        <span class="event-month">Jun</span>
                                                        <span class="event-day">24</span>
                                                    </div>
                                                    <h4 class="event-title"><a href="event-detail.html">Summer Rock Festival: Intrepid Pioneers, Filament Kingdom, Messenger Encounter &amp; More!</a></h4>
                                                </div>
                                            </li>
                                            <!-- EVENT : end -->

                                            <!-- EVENT : begin -->
                                            <li class="event m-has-date">
                                                <div class="event-inner">
                                                    <div class="event-date" title="July 9, 2016">
                                                        <span class="event-month">Jul</span>
                                                        <span class="event-day">9</span>
                                                    </div>
                                                    <h4 class="event-title"><a href="event-detail.html">Theatre Premiere: Antigone with Maximiliano Simonas</a></h4>
                                                </div>
                                            </li>
                                            <!-- EVENT : end -->

                                            <!-- EVENT : begin -->
                                            <li class="event m-has-date">
                                                <div class="event-inner">
                                                    <div class="event-date" title="July 15, 2016">
                                                        <span class="event-month">Jul</span>
                                                        <span class="event-day">15</span>
                                                    </div>
                                                    <h4 class="event-title"><a href="event-detail.html">Annual Spring Marathon: Around the TownPress</a></h4>
                                                </div>
                                            </li>
                                            <!-- EVENT : end -->

                                        </ul>
                                        <p class="show-all-btn"><a href="/sukien">Xem tất cả sự kiện</a></p>
                                    </div>
                                </div>
                            </div>