
                            <div class="widget events-widget">
                                <div class="widget-inner">
                                    <h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-calendar-full"></i>Sự kiện sắp tới</h3>
                                    <div class="widget-content">
                                        <ul class="event-list">

                                            {% for post in site.categories.event %}
                                            <!-- EVENT : begin -->
                                            <li class="event m-has-date">
                                                <div class="event-inner">
                                                    <div class="event-date" title="{{post.date | date: '%d/%m/%Y'}}">
                                                        <span class="event-month">{{post.date |  date: 'Th %-m' }}</span>
                                                        <span class="event-day">{{post.date |  date: '%-d' }}</span>
                                                    </div>
                                                    <h4 class="event-title"><a href="{{post.url}}">{{post.title}}</a></h4>
                                                </div>
                                            </li>
                                            <!-- EVENT : end -->
                                            {% endfor %}

                                        </ul>
                                        <p class="show-all-btn"><a href="/sukien">Xem tất cả sự kiện</a></p>
                                    </div>
                                </div>
                            </div>