
                            <div class="widget featured-gallery-widget">
                                <div class="widget-inner">
                                    <h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-pictures"></i>Ảnh đẹp Quỳnh Đôi</h3>
                                    <div class="widget-content">
                                        <div class="gallery-image" title="Streets of TownPress">
                                            <a href="gallery-detail.html"><img src="/assets/images/featured-gallery-01.jpg" alt=""></a>
                                        </div>
                                        <p class="show-all-btn"><a href="/anh">Xem tất cả ảnh</a></p>
                                    </div>
                                </div>
                            </div>