<footer id="footer" class="m-has-bg">
	<div class="footer-bg">
		<div class="footer-inner">

			<!-- FOOTER TOP : begin -->
			<div class="footer-top">
				<div class="c-container">

					<!-- BOTTOM PANEL : begin -->
					<div id="bottom-panel">
						<div class="bottom-panel-inner">
							<div class="row">
								<div class="col-md-3">

									<!-- TEXT WIDGET : begin -->
									<div class="widget">
										<hr class="c-separator m-transparent hidden-lg hidden-md">
										<div class="widget-inner">
											<h3 class="widget-title">Về Quỳnh Đôi</h3>
											<div class="widget-content">
												<p>Quỳnh Đôi nổi tiếng là cái nôi văn hóa lâu đời, có truyền thống hiếu học. Được biết đến với cái tên: Làng Khoa Bảng.</p>
												<a href="#">Xem thêm</a>
											</div>
										</div>
									</div>
									<!-- TEXT WIDGET : end -->

								</div>
								<div class="widget-col col-md-3">

									<!-- DEFINITION LIST WIDGET : begin -->
									<div class="widget definition-list-widget">
										<hr class="c-separator m-transparent hidden-lg hidden-md">
										<div class="widget-inner">
											<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-telephone"></i>Số điện thoại</h3>
											<div class="widget-content">
												<dl>
													<dt>UBND Xã</dt>
													<dd>(123) 456-7890</dd>
													<dt>Công an xã</dt>
													<dd>(123) 456-7891</dd>
													<dt>Trạm y tế xã</dt>
													<dd>(123) 456-7892</dd>
												</dl>
												<p class="show-all-btn"><a href="phone-numbers.html">Xem tất cả số đường dây nóng</a></p>
											</div>
										</div>
									</div>
									<!-- DEFINITION LIST WIDGET : end -->

								</div>
								<div class="widget-col col-md-3">

									<!-- MAILCHIMP SUBSCRIBE WIDGET : begin -->
									<div class="widget mailchimp-subscribe-widget">
										<hr class="c-separator m-transparent hidden-lg hidden-md">
										<div class="widget-inner">
											<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-at-sign"></i>Đăng ký nhận bài viết mới</h3>
											<div class="widget-content">

												<!-- Add your custom form URL into "action" attribute in following element -->
												<form class="mailchimp-subscribe-form" method="get"
													action="">
													<div class="subscribe-inner">

														<div class="description">
															<p>Tham gia để nhận thông báo khi có bài viết mới trên trang .</p>
														</div>

														<!-- VALIDATION ERROR MESSAGE : begin -->
														<p class="c-alert-message m-warning m-validation-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>
														<span>Your email address is required.</span></p>
														<!-- VALIDATION ERROR MESSAGE : end -->

														<!-- SENDING REQUEST ERROR MESSAGE : begin -->
														<p class="c-alert-message m-warning m-request-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>
														<span>There was a connection problem. Try again later.</span></p>
														<!-- SENDING REQUEST ERROR MESSAGE : end -->

														<!-- SUCCESS MESSAGE : begin -->
														<p class="c-alert-message m-success" style="display: none;"><i class="ico fa fa-check-circle"></i>
														<span><strong>Form sent successfully!</strong></span></p>
														<!-- SUCCESS MESSAGE : end -->

														<div class="form-fields">
															<input type="text" placeholder="Your Email Address" name="EMAIL" class="m-required m-email">
															<button title="Subscribe" type="submit" class="submit-btn">
																<i class="fa fa-chevron-right"></i>
																<i class="fa fa-spinner fa-spin"></i>
															</button>
														</div>

													</div>
												</form>

											</div>
										</div>
									</div>
									<!-- MAILCHIMP SUBSCRIBE WIDGET : end -->

								</div>
								<div class="widget-col col-md-3">

									<!-- TEXT WIDGET : begin -->
									<div class="widget">
										<hr class="c-separator m-transparent hidden-lg hidden-md">
										<div class="widget-inner">
											<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-envelope"></i>Ban biên tập xaquynhdoi.com</h3>
											<div class="widget-content">
												<p>Đường mới<br>Số 68</p>
												<p>Điện thoại: (123) 456-7890<br>Fax: (123) 456-7891<br>
												Email: <a href="#">quynhdoi@vietnam.gov</a></p>
											</div>
										</div>
									</div>
									<!-- TEXT WIDGET : end -->

								</div>
							</div>
						</div>
					</div>
					<!-- BOTTOM PANEL : end -->

				</div>
			</div>
			<!-- FOOTER TOP : end -->

			<!-- FOOTER BOTTOM : begin -->
			<div class="footer-bottom">
				<div class="footer-bottom-inner">
					<div class="c-container">
						<div class="footer-social">
							<ul class="c-social-icons">
								<li class="ico-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- FOOTER BOTTOM : end -->

		</div>
	</div>
</footer>