<header id="header" class="m-has-header-tools m-has-gmap">
    <div class="header-inner">

        <!-- HEADER CONTENT : begin -->
        <div class="header-content">
            <div class="c-container">
                <div class="header-content-inner">

                    <!-- HEADER BRANDING : begin -->
                    <div class="header-branding m-large-logo">
                        <a href="/"><span>
                            <img src="/assets/images/header-logo.png"
                                data-hires="/assets/images/header-logo.2x.png"
                                alt="{{page.title}}">
                        </span></a>
                    </div>
                    <!-- HEADER BRANDING : end -->

                    <!-- HEADER TOGGLE HOLDER : begin -->
                    {% include header_toggle.html %}
                
                    <!-- HEADER TOGGLE HOLDER : end --> 

                    <!-- HEADER MENU : begin -->
                    {% include header_menu.html %}
 
                    <!-- HEADER MENU : end -->

                    <!-- HEADER TOOLS : begin -->
                    <div class="header-tools">

                        <!-- HEADER SEARCH : begin -->
                {% include search.html %}
                        <!-- HEADER SEARCH : end -->


                    </div>
                    <!-- HEADER TOOLS : end -->

                </div>
            </div>
        </div>
        <!-- HEADER CONTENT : end -->

    

    </div>
</header>