
                            <div class="c-post-list m-has-icon">
                                <div class="c-content-box">
                                    <div class="post-list-inner">
                                        <i class="ico-shadow tp tp-reading"></i>
                                        <h2 class="post-list-title"><i class="ico tp tp-reading"></i><a href="{{ "/tintuc.html" | absolute_url }}">Tin tức <strong>Quỳnh Đôi</strong></a></h2>
                                        <div class="post-list-content">

                                            <!-- FEATURED POST : begin -->
                                            {% assign news = (site.categories.news | sort: 'date')  | reverse  %}
                                           

                                            <article class="featured-post m-has-thumb">
                                                <div class="post-image">
                                                    <a href="{{news[0].url}}"><img src="{{news[0].img}}" alt=""></a>
                                                </div>
                                                <div class="post-core">
                                                    <h3 class="post-title">
                                                        <a href="{{news[0].url}}">{{news[0].title}}</a>
                                                    </h3>
                                                    <div class="post-date"><i class="ico tp tp-clock2"></i>{{news[0].date | date: '%d/%m/%Y'}}</div>
                                                    <div class="post-excerpt">
                                                        <p>{{news[0].content | truncate: 200	}}<a href="{{news[0].url}}">[Xem đầy đủ]</a></p>
                                                    </div>
                                                </div>
                                            </article>

                                            
                                            <!-- FEATURED POST : end -->
                                        {% for post in news limit: 4 %}

                                            <!-- POST : begin -->
                                            <article class="post">
                                                <h3 class="post-title">
                                                    <a href="{{post.url}}">{{post.title}}</a>
                                                </h3>
                                                <div class="post-date">{{post.date | date: '%d/%m/%Y'}}</div>
                                            </article>
                                            <!-- POST : end -->

                                           {% endfor %}

                                            <p class="more-btn-holder"><a href="/tintuc">Xem tất cả bài viết</a></p>

                                        </div>
                                    </div>
                                </div>
                            </div>