



<div id="search-box">
        <script>
          (function() {
            var cx = "008915392620775123463:tc6no-q_zpe";
            var gcse = document.createElement("script");
            gcse.type = "text/javascript";
            gcse.async = true;
            gcse.src = "https://cse.google.com/cse.js?cx=" + cx;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(gcse, s);
          })();
          window.onload = function()
          { 
            var searchBox =  document.getElementById("gsc-i-id1");
            searchBox.placeholder="Tìm kiếm";
            searchBox.title="Tìm kiếm"; 
          }
        </script>
 
     </div>
            <gcse:search></gcse:search>

     

             
        
